In [2]:
import requests
import pandas as pd

In [3]:
def find_beer_image_url(beer_name, company_name, api_key, cx):
    search_query = f"{beer_name} {company_name} beer"
    params = {
        "q": search_query,
        "cx": cx,
        "key": api_key,
        "searchType": "image",
        "num": 1
    }

    response = requests.get("https://www.googleapis.com/customsearch/v1", params=params)
    response.raise_for_status()
    results = response.json()

    if "items" in results:
        return results["items"][0]["link"]
    else:
        return None

In [26]:
import json

with open('../../credentials_google_search.json', 'r') as f:
    creds = json.load(f)
    #content = f.read()
    #print("FILE CONTENT:")
    #print(content)

api_key = creds['google']['api_key']
cx = creds['google']['cx']

In [ ]:
import os

if not os.path.exists("../../data/clean/beer_names_breweries_with_images.csv"):
    db_beers = pd.read_csv("../../data/clean/beer_names_breweries.csv")
    db_beers_names_breweries = db_beers[["name", "brewery"]].drop_duplicates()
    print(db_beers.columns.tolist())
    db_beers_names_breweries = db_beers[["name", "brewery"]].drop_duplicates()
    num_of_beers =len(db_beers_names_breweries)
    print("Number of beers:", num_of_beers)
else:
    db_beers_names_breweries = pd.read_csv("../../data/clean/beer_names_breweries_with_images.csv")
    num_of_beers =len(db_beers_names_breweries)
    print("Number of beers:", num_of_beers)

In [50]:
import time

for i in range(len(db_beers_names_breweries)):
    beer_name = db_beers_names_breweries.iloc[i]["name"]
    company_name = db_beers_names_breweries.iloc[i]["brewery"]
    print(f"Beer: {beer_name}, Brewery: {company_name}")
    
    try:
        # Check if "image_url" column exists and the ith value is empty or "None"
        if "image_url" in db_beers_names_breweries.columns and (
            pd.isna(db_beers_names_breweries.at[i, "image_url"]) or 
            str(db_beers_names_breweries.at[i, "image_url"]).lower() in ["none", "nan", ""]
        ):
            image_url = find_beer_image_url(beer_name, company_name, api_key, cx)
            print("Image URL:", image_url)
            db_beers_names_breweries.at[i, "image_url"] = image_url
        else:
            print(f"Skipping row {i}, image_url already exists: {db_beers_names_breweries.at[i, 'image_url']}")
    except Exception as e:
        print(f"Error at row {i}: {e}")
        db_beers_names_breweries.at[i, "image_url"] = None
        # Save the current state of the dataframe
        db_beers_names_breweries.to_csv("../../data/clean/beer_names_breweries_with_images.csv", index=False)
        # Fill the rest with "none" and break the loop
        db_beers_names_breweries.loc[i+1:, "image_url"] = "none"
        break
    time.sleep(1.5)  # delay between requests

Beer: amber, Brewery: alaskan brewing co.
Error at row 0: 429 Client Error: Too Many Requests for url: https://www.googleapis.com/customsearch/v1?q=amber+alaskan+brewing+co.+beer&cx=f2200e4199149422d&key=AIzaSyDTcdOfCqA9AXjNJe4-vAf97xW2FeTt_f0&searchType=image&num=1

In [42]:
db_beers_names_breweries

,name,brewery,image_url
0,amber,alaskan brewing co.,None
1,double bag,long trail brewing co.,none
2,long trail ale,long trail brewing co.,none
3,doppelsticke,uerige obergarige hausbrauerei gmbh / zum uerige,none
4,sleigh'r dark double alt ale,ninkasi brewing company,none
...,...,...,...
3192,winter shredder,cisco brewers inc.,none
3193,the first snow ale,rj rockers brewing company,none
3194,red nose winter ale,natty greene's pub & brewing co.,none
3195,fish tale winterfish,fish brewing company / fishbowl brewpub,none
3196,frosted frog christmas ale - barrel-aged,hoppin' frog brewery,none